html {
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
}

#sonuc-alan {
  width: 100%;
  background: #fafafa;
}

.deniz-haritasi {
  height: 480px;
  width: 680px;
  overflow: scroll;
}

.kara-haritasi {
  height: 25.5rem;
  width: 49rem;
  overflow: scroll;
}

.rota {
  margin: auto;
}

.container-fluid {
  display: flex;
}

.navbar-nav {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.navbar-site {
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  font-size: 115%;
  background-color: rgba(60, 166, 222, 87) !important;
}
.maincard {
  margin-top: 2rem !important;
  display: flex;
}
.card-img-top{
  max-width: 38rem;
  max-height: 18rem;
}
.card{
  align-items: center;
}
.card-body>h5{
  text-align: center;
}
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h5{
  font-family:'Abril Fatface', cursive;
}
a{
  font-family:'Patua One', cursive;
}